<template>
  <div id="app">
  
  
    <div class="container">
		<img src="guitar.jpg" class="img-fluid" alt="logo">
		<input type="text" class="input" placeholder="Search Music">
    </div>  

    <div class="menu">
		<div class="btn-group-vertical">
			<button type="button" class="btn btn-outline-danger" id="upload">Upload Music</button>
			<button type="button" class="btn btn-outline-danger">All Songs</button>
			<button type="button" class="btn btn-outline-danger" id="create">Create Playlist</button>
	</div>

    <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Artist</th>
      <th scope="col">Album</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>I'll Make You Cry</td>
      <td>aespa</td>
      <td>SAVAGE</td>
      <td>3:34</td>
    </tr>
    <tr>
      <td>ICONIC</td>
      <td>aespa</td>
      <td>SAVAGE</td>
      <td>3:11</td>
    </tr>
    <tr>
      <td>Yeppi Yeppi</td>
      <td>aespa</td>
      <td>SAVAGE</td>
      <td>3:33</td>
    </tr>
    <tr>
      <td>Aenergy</td>
      <td>aespa</td>
      <td>SAVAGE</td>
      <td>2:27</td>
    </tr>
    <tr>
      <td>Wannabe</td>
      <td>Itzy</td>
      <td>It'z Me</td>
      <td>3:12</td>
    </tr>
    <tr>
      <td>Loco</td>
      <td>Itzy</td>
      <td>Crazy in Love</td>
      <td>3:09</td>
    </tr>
  </tbody>
</table>

		<div class="playmenu">
			<button type="button" class="btn btn-outline-danger"><img src="backward.png"></button>
			<button type="button" class="btn btn-outline-danger"><img src="play.png"></button>
			<button type="button" class="btn btn-outline-danger"><img src="forward.png"></button>
		</div>
	</div>
  </div>
 
  
  
</template>

<script>
export default {
  name: 'App',
  components: {

  } 
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: pink;
  margin-top: 60px;
}


* {
	margin: 0;
	padding: 0;
}
html {
  background-color: pink;
}
#app {
  background-color: pink;
}
.container {
	padding: 2%;
}
.container input {
  position: relative;
  right: 300px;
  bottom: 55px;
}
.container img {
	height: 50px;
	width: 200px;
  position: relative;
  right: 350px;
  bottom: 55px;
}
th {
	color:#00FFFF;
	font-size: 24px;
}
td {
	color: red;
}
table {
	max-width: 750px;
	height: 250px;
	float: right;
	position: relative;
	right: 90px;
	text-align: center;
}
.menu {
	position: relative;
  right: 100px;
  
}
.menu button {
	margin: 30px;
}
h1 {
	position: relative;
	bottom: 275px;
	left: 280px;
	color: red;
}
.playmenu img {
  width: 50px;
	height: 50px;
	border-radius: 50%;
}
.playmenu {
	position: relative;
	left: 550px;
	top: 65px;
}

</style>
