* {
	margin: 0;
	padding: 0;
}
html {
	background-color: pink;
}
.container {
	width: 100%;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-flex;

}
.container img {
	width: 175px;
	height: 45px;

}
.container input {
	width: 160px;
	height: 40px;
	border-color: white;



}
table {
  border:2px solid blue;
  background-color: black;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 45px;
}
th {
	border:2px solid blue;
	height: 75px;
	color:#00FFFF;
	font-size: 26px;
	

}
td {
	border:2px solid blue;
	color: white;
	height: 50px;
	font-size: 12px;
	text-align: left;
}
nav {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 25px;

}
nav ul li {
	list-style: none;
	display: inline-block;
	height: 30px;

}
nav ul li a {
color: orangered;
}
.button {
	text-align: center;
}
h1 {
	display: none;
	font-size: 0px;
}
.container img {
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
	border-radius: 10%;
	
}
.container input {
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
}


@media only screen and (min-width: 768px){

.container {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;

}
.container img {
	width: 250px;
	height: 50px;

}
.container input {
	width: 210px;
	height: 45px;
	border-color: white;
	margin-left: 260px;
	text-align: left;
	font-size: 24px;

}
table {
  border:2px solid blue;
  background-color: black;
  border-collapse: collapse;
  height: 100%;
}
th {
	font-size: 40px;
	height: 150px;
	

}
td {
	border:2px solid blue;
	color: white;
	height: 100px;
	font-size: 18px;
	text-align: left;
}
nav {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 25px;

}
nav ul li {
	list-style: none;
	display: inline-block;
	height: 50px;

}
nav ul li a {
color: orangered;
font-size: 30px;
}
.button {
	text-align: center;
}

.button img {
	height: 75px;
	width: 75px;
}
td a img {
	height: 50px;
	width: 50px;
}
h1 {
	display: none;
	font-size: 0px;

}
.container img {
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
	border-radius: 10%;
	
}
.container input {
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
}
	
}

@media only screen and (min-width: 1000px) {

.container {
display: flex;

}
.container img {
	width: 250px;
	height: 50px;

}
.container input {
	width: 210px;
	height: 45px;
	margin-left: 50px;
}
table {
 width: 75%;
 position: relative;
 bottom: 300px;
 left: 250px;


}
th {
	font-size: 26px;
	height: 75px;
	

}
td {
	height: 90px;
	font-size: 18px;
}
nav {
	text-align: left;
	width: 200%;
	padding-left: 3%;
	margin-top: 40px;
}
nav ul li {
	list-style: none;
	height: 30px;
	display: block;

}
nav ul li a {
font-size: 24px;
}
.button {
	text-align: center;
	position: relative;
	bottom: 300px;
	left: 50px;
}

.button img {
	height: 50px;
	width: 50px;
	padding-bottom: 50%;

}
h1 {
	color: red;
	display: block;
	font-size: 28px;
	margin-left: 250px;
	margin-top: 50px;
	

}
.container img {
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
	border-radius: 10%;
	
}
.container input {
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
}








}


